/*** Reset ***/
* {
    margin: 0;
    padding: 0;
}

/*** General ***/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: #2D4263;  
    color: #ECDBBA;
}

h2 {
    margin: 20px 0;
}

hr {
    border-color: #191919;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
    margin: auto;
}

table {
    border-collapse: separate;
    border-spacing: 30px 10px;
    margin: auto;
    text-align: left;
}

a {
    padding: 15px;
    color: #ECDBBA;
}

/*** Welcome content ***/
.welcome-screen {
    display: flexbox;
}

.welcome-container { 
    background-color: #C84B31;
    border-bottom: solid;
    border-color: #191919;
    padding: 20px;
    text-align: center;
}

.profile-picture {
    border: solid;
    border-color: #191919;
    border-radius: 50%;
    margin: 25px 25px 0 25px;
    width: 200px;
}

.name {
    color: #191919;
    font-family: Licorice;
    font-size: 75px;
    margin: 0px;
}

.contact-container {
    background-color: #ECDBBA;
    color: #191919;
    border-bottom: solid;
    border-color: #191919;
    padding: 15px;
    text-align: center;
}

.footer-link {
    color: #191919;
}

/*** Professional content ***/
.intro-container {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 50%;
    line-height: 2em;
}
.career-container {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

.skill-container {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 50%;
}


/*** Personal content ***/
.extra-container {
    padding: 20px;
    margin: 0 auto;
    text-align: left;
    width: 50%;
}

.extra-images {
    border: solid;  
    border-radius: 50%;
    border-color: #191919;  
    position: inline-block;
    object-fit: cover;
    margin: 0 20px;    
    height: 120px;
    width: 120px;
}

