/*** General ***/
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #2D4263;  
    color: #ECDBBA;
}

hr {
    border-color: #191919;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
}

table {
    border-collapse: separate;
    border-spacing: 30px 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

a {
    color: #ECDBBA;
}

/*** Welcome content ***/
.welcome-container { 
    background-color: #C84B31;
    border-bottom: solid;
    border-color: #191919;
    padding: 20px;
}

.profile-picture {
    border: solid;
    border-color: #191919;
    border-radius: 50%;
    margin-top: 25px;
    width: 200px;
}

.name {
    color: #191919;
    font-family: Licorice;
    font-size: 75px;
    margin: 0px;
}

/*** Professional content ***/
.professional-container {
    padding: 20px;
}

.extra-container {
    padding: 20px;
    height: auto;
}

.extra-images {
    border: solid;  
    border-radius: 50%;
    border-color: #191919;  
    position: inline-block;
    object-fit: cover;
    margin: 0 30px;    
    height: 200px;
    width: 200px;
}

/*** Contact info ***/
.contact-container {
    background-color: #C84B31;
    border-top: solid;
    border-color: #191919;
    padding: 15px;
}