body {
    color: #ECDBBA;
    background-color: #2D4263;
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: separate;
    border-spacing: 30px 10px;
}

thead {
    color:#C84B31; 
    text-align: center;   
}

h1 {
    color:#C84B31; 
    text-align: center;   
}

h3 {
    color:#C84B31; 
}

a {
    color: #ECDBBA;
}

hr {
    border-color: #191919;
    border-width: 5px;
    border-style: none;
    border-top-style: dotted;
    width: 10%;
}

